In [2]:
import pandas as pd
from fetcherv6 import *
company = 910349

In [3]:
df = fetch_income_statement(company)
df.head()

Empty DataFrame
Columns: [continued_operations, costs, cvm_code, discontinued_operations, ebit, gross_income, net_income, net_income_controlling, net_income_non_controlling, net_sales, non_operating_income, operating_expenses, period_end, period_init, period_type, profit_before_taxes, statement_type, taxes]
Index: []

In [8]:
data = fetch_financials(701)
data.head()

AttributeError: 'tuple' object has no attribute 'head'

In [5]:
fins = fetch_financials(movida)

2024-06-22 15:34:30,570 - WARNING - Columns ['period_end'] not found in DataFrame
2024-06-22 15:34:30,655 - INFO - Columns before cleaning: Index(['index', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024],
      dtype='object', name='period_end')
2024-06-22 15:34:30,661 - WARNING - Columns ['period_end'] not found in DataFrame
2024-06-22 15:34:30,668 - INFO - Columns after cleaning: Index(['index', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024],
      dtype='object', name='period_end')

In [8]:
print(fins[0].head())
#print blank line
print()
print(fins[1].head())
print()
print(fins[2].head())

reference_date                index        2014        2015        2016  \
0                            assets  1355156000  2618610000  2789713000
1                 biological_assets           0           0           0
2                              cash    15544000   460579000    53576000
3                    current_assets   222585000   782052000   565338000
4               current_liabilities   554236000  1130402000  1497200000

reference_date        2017        2018        2019        2020         2021  \
0               4006470000  5192301000  7242817000  8502627000  21715853000
1                        0           0           0           0            0
2                411381000   259482000    72233000    68647000    146030000
3               1161338000  1435941000  1949183000  2380202000   9146959000
4               1615777000  1642881000  2239379000  2448236000   3751193000

reference_date         2022         2023
0               26248880000  25119493000
1                         0            0
2                 551765000    133394000
3                9440252000   5429325000
4                5896026000   7455025000

period_end                    index      2014       2015        2016  \
0              continued_operations   3012000   31893000    18951000
1                             costs -36376000 -798017000 -1083729000
2                          cvm_code     95300      95300       95300
3           discontinued_operations   1754000   10930000     6375000
4                              ebit   8584000  113569000   138733000

period_end        2017        2018        2019        2020        2021  \
0             45112000   159738000   227815000   109026000   819439000
1          -1376403000 -1731963000 -2896435000 -3219779000 -2946075000
2                95300       95300       95300       95300       95300
3               367000           0           0           0           0
4            184424000   379714000   468187000   304301000  1666734000

period_end        2022        2023        2024
0            556408000  -650847000    48550000
1          -5694570000 -7573494000 -2089562000
2                95300       95300       23825
3                    0           0           0
4           2416752000  1261569000   611647000

period_end                          index      2014       2015       2016  \
0                                cvm_code     95300      95300      95300
1           depreciation_and_amortization  -7603000  -92171000  -71927000
2                               financing  20838000  278396000 -170573000
3                               investing  14392000  -41994000  -31983000
4                               operating -19686000  208633000 -204447000

period_end        2017        2018        2019       2020        2021  \
0                95300       95300       95300      95300       95300
1            -74739000  -102011000  -275005000 -412880000  -416251000
2           1396362000   917367000  1037313000  706958000  8452201000
3            -18085000   -50493000   -91854000  -76294000  -105298000
4          -1020472000 -1018773000 -1132708000 -634250000 -8269520000

period_end        2022        2023        2024
0                95300       95300       23825
1          -1135224000 -2237679000  -447799000
2           5084343000 -3373485000  1250363000
3           -506743000  -272038000   -30899000
4          -4171865000  3227152000  -877584000

In [19]:
from openaicall import *

In [23]:
istat=fetch_income_statement(18236)
bs=fetch_balance_sheet(18236)

/Users/pedro/Documents/ddmw/fetcherv6.py:53: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_df = numeric_df.resample('YE').sum()  # Use 'A' for annual resampling
2024-06-22 16:35:16,679 - WARNING - Columns ['period_end'] not found in DataFrame

In [26]:
istat

period_end,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
index,,,,,,,,,,,,,,
continued_operations,-122000.0,-64000.0,-13000.0,-29000.0,-29000.0,-65000.0,-114000.0,-124000.0,-224000.0,-180075.0,-358061.0,2879000.0,-237000.0,-18000.0
costs,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
cvm_code,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,72944.0,18236.0
discontinued_operations,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ebit,-124000.0,-78000.0,12000.0,-28000.0,-28000.0,-41000.0,-112000.0,-159000.0,-203000.0,-151079.0,-359061.0,2880000.0,-237000.0,-18000.0
gross_income,0.0,0.0,78000.0,103000.0,104000.0,104000.0,103000.0,103000.0,35000.0,0.0,0.0,0.0,0.0,0.0
net_income,-122000.0,-64000.0,-13000.0,-29000.0,-29000.0,-65000.0,-114000.0,-124000.0,-224000.0,-291075.0,-358061.0,2879000.0,-237000.0,-18000.0
net_sales,0.0,0.0,78000.0,103000.0,104000.0,104000.0,103000.0,103000.0,35000.0,0.0,0.0,0.0,0.0,0.0
non_operating_income,2000.0,16000.0,-25000.0,2000.0,1000.0,-24000.0,-2000.0,35000.0,-21000.0,-30996.0,1000.0,-1000.0,0.0,0.0
operating_expenses,-124000.0,-78000.0,-66000.0,-131000.0,-132000.0,-145000.0,-215000.0,-262000.0,-238000.0,-260079.0,-359061.0,2880000.0,-237000.0,-18000.0
profit_before_taxes,-122000.0,-62000.0,-13000.0,-26000.0,-27000.0,-65000.0,-114000.0,-124000.0,-224000.0,-291075.0,-358061.0,2879000.0,-237000.0,-18000.0
taxes,0.0,-2000.0,0.0,-3000.0,-2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
get_predictions(18236)

/Users/pedro/Documents/ddmw/fetcherv6.py:53: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_df = numeric_df.resample('YE').sum()  # Use 'A' for annual resampling
2024-06-22 16:38:10,950 - WARNING - Columns ['period_end'] not found in DataFrame
2024-06-22 16:38:18,426 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:38:25,590 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:38:33,064 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:38:40,339 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:38:47,502 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:38:54,342 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:39:02,248 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:39:10,338 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-06-22 16:39:16,794 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

[(np.int64(2015), 'decrease; moderate; 0.8'),
 (np.int64(2016), 'decrease; moderate; 0.8'),
 (np.int64(2017), 'decrease; large; 0.9'),
 (np.int64(2018), 'decrease; large; 0.9'),
 (np.int64(2019), 'decrease; large; 0.9'),
 (np.int64(2020), 'decrease; large; 0.9'),
 (np.int64(2021), 'decrease; large; 0.9'),
 (np.int64(2022), 'decrease; large; 0.9'),
 (np.int64(2023), 'decrease; large; 0.9')]

In [3]:
from batchpredict import *
code = 18236

In [4]:
import os
#use csv extended_company_data.csv from directory as argument
check_data_availability(file='extended_company_data.csv')

[2100,
 2429,
 2437,
 2453,
 2461,
 2577,
 3050,
 3069,
 3077,
 3115,
 3158,
 3190,
 3204,
 3298,
 3395,
 3654,
 3824,
 3891,
 3980,
 4030,
 4081,
 4146,
 4170,
 4537,
 4669,
 4693,
 4707,
 4723,
 4820,
 4863,
 5207,
 5258,
 5312,
 5380,
 5410,
 5576,
 5762,
 5770,
 6041,
 6076,
 6173,
 6211,
 6343,
 6505,
 6629,
 6700,
 6815,
 7510,
 7544,
 7595,
 7617,
 7811,
 7870,
 8036,
 8087,
 8133,
 8192,
 8397,
 8427,
 8451,
 8540,
 8575,
 8605,
 8656,
 8672,
 8753,
 8818,
 8893,
 9067,
 9083,
 9342,
 9393,
 9415,
 9512,
 9539,
 9954,
 9989,
 10456,
 10472,
 10880,
 11070,
 11207,
 11223,
 11231,
 11258,
 11312,
 11398,
 11592,
 11762,
 11932,
 11975,
 11991,
 12190,
 12319,
 12572,
 12653,
 12696,
 12823,
 13285,
 13366,
 13439,
 13447,
 13471,
 13765,
 13773,
 13781,
 13854,
 13986,
 14109,
 14176,
 14206,
 14214,
 14311,
 14320,
 14346,
 14362,
 14443,
 14451,
 14460,
 14524,
 14605,
 14664,
 14761,
 14818,
 14826,
 14869,
 15091,
 15253,
 15300,
 15342,
 15369,
 15423,
 15458,
 15539,
 15636,
 15784,
 16101,
 16284,
 16292,
 16306,
 16438,
 16497,
 16527,
 16586,
 16608,
 16616,
 16624,
 16632,
 16659,
 16705,
 16772,
 16861,
 16942,
 16985,
 16993,
 17329,
 17450,
 17485,
 17671,
 17884,
 17892,
 17914,
 17922,
 17930,
 17949,
 17965,
 17973,
 18066,
 18139,
 18236,
 18287,
 18309,
 18333,
 18368,
 18376,
 18406,
 18414,
 18430,
 18465,
 18538,
 18597,
 18627,
 18660,
 18708,
 18724,
 18759,
 18775,
 18821,
 18953,
 18970,
 19100,
 19119,
 19135,
 19208,
 19232,
 19275,
 19305,
 19330,
 19348,
 19364,
 19445,
 19453,
 19550,
 19569,
 19593,
 19615,
 19623,
 19640,
 19658,
 19720,
 19739,
 19763,
 19836,
 19852,
 19879,
 19909,
 19925,
 19984,
 19992,
 20010,
 20028,
 20036,
 20044,
 20060,
 20087,
 20125,
 20192,
 20222,
 20257,
 20303,
 20320,
 20338,
 20346,
 20354,
 20362,
 20370,
 20397,
 20435,
 20451,
 20478,
 20494,
 20516,
 20524,
 20532,
 20540,
 20567,
 20575,
 20605,
 20613,
 20621,
 20630,
 20648,
 20702,
 20710,
 20729,
 20745,
 20770,
 20788,
 20800,
 20877,
 20915,
 20931,
 20958,
 20966,
 20982,
 20990,
 21008,
 21016,
 21024,
 21032,
 21040,
 21067,
 21091,
 21121,
 21130,
 21148,
 21156,
 21180,
 21199,
 21237,
 21334,
 21342,
 21350,
 21393,
 21431,
 21440,
 21490,
 21555,
 21610,
 21636,
 21644,
 21733,
 21741,
 21881,
 21903,
 22012,
 22020,
 22055,
 22071,
 22160,
 22179,
 22187,
 22217,
 22250,
 22268,
 22276,
 22349,
 22357,
 22365,
 22390,
 22411,
 22454,
 22470,
 22497,
 22519,
 22594,
 22608,
 22616,
 22675,
 22683,
 22691,
 22721,
 22764,
 22780,
 22845,
 22942,
 22977,
 22985,
 23035,
 23060,
 23159,
 23167,
 23175,
 23221,
 23230,
 23248,
 23264,
 23272,
 23280,
 23302,
 23310,
 23329,
 23388,
 23426,
 23485,
 23493,
 23507,
 23515,
 23523,
 23540,
 23574,
 23590,
 23612,
 23795,
 23817,
 23825,
 23965,
 23981,
 23990,
 24058,
 24066,
 24090,
 24112,
 24171,
 24180,
 24236,
 24260,
 24279,
 24295,
 24317,
 24350,
 24392,
 24546,
 24600,
 24627,
 24660,
 24694,
 24716,
 24821,
 24848,
 24872,
 24902,
 24910,
 24929,
 16772,
 19720,
 20222,
 21903,
 22071,
 22250,
 22268,
 22390,
 22411,
 22683,
 22942,
 22977,
 23060,
 23167,
 23230,
 23280,
 23329,
 24066]

In [7]:
income = fetch_income_statement(18236)

/Users/pedro/Documents/ddmw/fetcherv6.py:49: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_df = numeric_df.resample('A').sum()  # Use 'A' for annual resampling
2024-06-22 16:52:11,564 - WARNING - Columns ['period_end'] not found in DataFrame

In [11]:
income[2022]

0    -237000.0
1          0.0
2      72944.0
3          0.0
4    -237000.0
5          0.0
6    -237000.0
7          0.0
8          0.0
9    -237000.0
10   -237000.0
11         0.0
Name: 2022, dtype: float64