In [1]:
from fetcherv6 import *
from openaicall import *
code = 2437

2024-06-24 17:35:53,462 - INFO - Connecting to database with URL: postgresql://postgres.trrwdbeylztbfswvrhlr:Theobaldo18$18@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

In [2]:
from openaicall import get_predictions
#df = get_predictions(code)

In [3]:
df

,Year,earnings direction,magnitude,confidence score,summary of rationale
0,2015,decrease,moderate,0.7,The company has shown a consistent decrease in...
1,2016,decrease,moderate,0.75,The company has shown a consistent decrease in...
2,2017,increase,moderate,0.75,Analyzing the financial trends from 2012 to 20...
3,2018,increase,moderate,0.75,"Analyzing the trends from 2013 to 2017, there ..."
4,2019,increase,moderate,0.75,Analyzing the financial trends from 2014 to 20...
5,2020,increase,moderate,0.75,"Analyzing the trends from 2015 to 2019, there ..."
6,2021,increase,moderate,0.75,"Analyzing the trends from 2016 to 2020, there ..."
7,2022,increase,moderate,0.75,"Analyzing the trends from 2017 to 2021, there ..."
8,2023,decrease,moderate,0.75,Analyzing the financial statements from 2018 t...

In [2]:
income_statement = retrieve_income_with_lenght(code)
f=income_statement['income_statement']
f

2024-06-24 17:29:39,640 - WARNING - Columns ['period_end'] not found in DataFrame

,continued_operations,costs,cvm_code,discontinued_operations,ebit,gross_income,net_income,net_income_controlling,net_income_non_controlling,net_sales,non_operating_income,operating_expenses,profit_before_taxes,taxes
period_end,,,,,,,,,,,,,,
2010,2552985000,-5242444000,9748,0,4411372000,25241444000,2552985000,2247913000,305072000,30483888000,-364122000,-20830072000,4047250000,-1494265000
2011,3762020000,-4710631000,9748,0,4304370000,29497331000,3762020000,3732565000,29455000,34207962000,234453000,-25192961000,4538823000,-776803000
2012,-6925651000,-5633770000,9748,0,-9100769000,28014296000,-6925651000,-6878916000,-46735000,33648066000,1684476000,-37115065000,-7416293000,490642000
2013,-6191660000,-7827623000,9748,0,-5201668000,17897269000,-6191660000,-6186948000,-4712000,25724892000,376686000,-23098937000,-4824982000,-1366678000
2014,-2962502000,-16327359000,9748,0,-1956609000,13810448000,-2962502000,-3031055000,68553000,30137807000,694625000,-15767057000,-1261984000,-1700518000
2015,-14953658000,-16991559000,9748,0,-12544521000,15597279000,-14953658000,-14441607000,-512051000,32588838000,-1699025000,-28141800000,-14243546000,-710112000
2016,3513276000,-16210934000,9748,0,15954819000,44218870000,3513276000,3425899000,87377000,60429804000,-3930724000,-28264051000,12024095000,-8510819000
2017,2453523000,-9459949000,9748,-4179214000,6218667000,19983066000,-1725691000,-1763805000,38114000,29443015000,-1736116000,-13764399000,4482551000,-2029028000
2018,13446800000,-5537063000,9748,-99223000,17305149000,20235242000,13347577000,13262378000,85199000,25772305000,-1374631000,-2930093000,15930518000,-2483718000
2019,7848445000,-7449954000,9748,3284975000,9666572000,22264310000,11133420000,11195037000,-61617000,29714264000,-2448786000,-12597738000,7217786000,630659000
2020,6387313000,-13427020000,9748,0,8624292000,15653493000,6387313000,6338688000,48625000,29080513000,-1671646000,-7029201000,6952646000,-565333000
2021,5855024000,-10116893000,9748,-141391000,12668337000,25238726000,5713633000,5646141000,67492000,35355619000,-1507631000,-12570389000,11160706000,-5305682000
2022,2651598000,-15843159000,9748,986785000,7712519000,18222787000,3638383000,3635377000,3005000,34065946000,-4365308000,-10510268000,3347211000,-695613000
2023,4391498000,-18673499000,9748,3363000,13730498000,18485409000,4394861000,4549774000,-154913000,37158908000,-12337498000,-4754911000,1393000000,2998498000
2024,330534000,-4499682000,2437,0,3623406000,4218589000,330534000,328051000,2483000,8718271000,-2987777000,-595183000,635629000,-305095000

In [2]:
d = net_income_direction(code)
d

KeyboardInterrupt:

In [ ]:
# make f a pandas dataframe
f = pd.DataFrame(f)

In [ ]:
f

           actual_earnings_direction
period_end
2010                        decrease
2011                        increase
2012                        decrease
2013                        increase
2014                        increase
2015                        decrease
2016                        increase
2017                        decrease
2018                        increase
2019                        decrease
2020                        decrease
2021                        decrease
2022                        decrease
2023                        increase
2024                        decrease

In [2]:
d=calculate_earnings_direction(code)

2024-06-24 17:30:09,297 - WARNING - Columns ['period_end'] not found in DataFrame

In [4]:
d

Year
continued_operations          -4060964000
costs                         14173817000
cvm_code                            -7311
discontinued_operations          -3363000
ebit                         -10107092000
gross_income                 -14266820000
net_income                    -4064327000
net_income_controlling        -4221723000
net_income_non_controlling      157396000
net_sales                    -28440637000
non_operating_income           9349721000
operating_expenses             4159728000
profit_before_taxes            -757371000
taxes                         -3303593000
Name: 2024, dtype: int64

/var/folders/cm/s5l2zwms6g332nbkzggv5qnh0000gn/T/ipykernel_10235/4195641309.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  selected_row[0]

'Eletrobras'