In [2]:
import pandas as pd
from fetcherv6 import *
company = 910349

In [3]:
df = fetch_income_statement(company)
df.head()

Empty DataFrame
Columns: [continued_operations, costs, cvm_code, discontinued_operations, ebit, gross_income, net_income, net_income_controlling, net_income_non_controlling, net_sales, non_operating_income, operating_expenses, period_end, period_init, period_type, profit_before_taxes, statement_type, taxes]
Index: []

In [8]:
data = fetch_financials(701)
data.head()

AttributeError: 'tuple' object has no attribute 'head'

In [5]:
fins = fetch_financials(movida)

2024-06-22 15:34:30,570 - WARNING - Columns ['period_end'] not found in DataFrame
2024-06-22 15:34:30,655 - INFO - Columns before cleaning: Index(['index', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024],
      dtype='object', name='period_end')
2024-06-22 15:34:30,661 - WARNING - Columns ['period_end'] not found in DataFrame
2024-06-22 15:34:30,668 - INFO - Columns after cleaning: Index(['index', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024],
      dtype='object', name='period_end')

In [8]:
print(fins[0].head())
#print blank line
print()
print(fins[1].head())
print()
print(fins[2].head())

reference_date                index        2014        2015        2016  \
0                            assets  1355156000  2618610000  2789713000
1                 biological_assets           0           0           0
2                              cash    15544000   460579000    53576000
3                    current_assets   222585000   782052000   565338000
4               current_liabilities   554236000  1130402000  1497200000

reference_date        2017        2018        2019        2020         2021  \
0               4006470000  5192301000  7242817000  8502627000  21715853000
1                        0           0           0           0            0
2                411381000   259482000    72233000    68647000    146030000
3               1161338000  1435941000  1949183000  2380202000   9146959000
4               1615777000  1642881000  2239379000  2448236000   3751193000

reference_date         2022         2023
0               26248880000  25119493000
1                         0            0
2                 551765000    133394000
3                9440252000   5429325000
4                5896026000   7455025000

period_end                    index      2014       2015        2016  \
0              continued_operations   3012000   31893000    18951000
1                             costs -36376000 -798017000 -1083729000
2                          cvm_code     95300      95300       95300
3           discontinued_operations   1754000   10930000     6375000
4                              ebit   8584000  113569000   138733000

period_end        2017        2018        2019        2020        2021  \
0             45112000   159738000   227815000   109026000   819439000
1          -1376403000 -1731963000 -2896435000 -3219779000 -2946075000
2                95300       95300       95300       95300       95300
3               367000           0           0           0           0
4            184424000   379714000   468187000   304301000  1666734000

period_end        2022        2023        2024
0            556408000  -650847000    48550000
1          -5694570000 -7573494000 -2089562000
2                95300       95300       23825
3                    0           0           0
4           2416752000  1261569000   611647000

period_end                          index      2014       2015       2016  \
0                                cvm_code     95300      95300      95300
1           depreciation_and_amortization  -7603000  -92171000  -71927000
2                               financing  20838000  278396000 -170573000
3                               investing  14392000  -41994000  -31983000
4                               operating -19686000  208633000 -204447000

period_end        2017        2018        2019       2020        2021  \
0                95300       95300       95300      95300       95300
1            -74739000  -102011000  -275005000 -412880000  -416251000
2           1396362000   917367000  1037313000  706958000  8452201000
3            -18085000   -50493000   -91854000  -76294000  -105298000
4          -1020472000 -1018773000 -1132708000 -634250000 -8269520000

period_end        2022        2023        2024
0                95300       95300       23825
1          -1135224000 -2237679000  -447799000
2           5084343000 -3373485000  1250363000
3           -506743000  -272038000   -30899000
4          -4171865000  3227152000  -877584000